option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:ec2:vpc:
    ELBScheme: public
    ELBSubnets: subnet-0f7e0269607f4d47b,subnet-0174c9bd43b44fad8,subnet-0ab1440b4c5e4ed79
  aws:autoscaling:asg:
    MinSize: 2
  aws:elbv2:listener:default:
    ListenerEnabled: true
  aws:elbv2:listener:443:  
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-west-2:111937600565:certificate/072e9469-7b7e-48ce-9f8f-85215cf5b795
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-Ext-2018-06
